{% extends "layout.html" %}

{% block page %}
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                {% for tab in tabs %}
                    <li class="{{ tab.active and 'active' or '' }}">
                        <a href="{{ tab.url }}">
                            <span class="glyphicon glyphicon-{{ tab.glyph }}"></span> {{ tab.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <h3>{{ message }}</h3>
            <div class="col-md-8">
                {{ wtf.quick_form(form, form_type='horizontal', button_map={'submit_button': 'primary'})}}
            </div>
        </div>
    </div>
    <div class="row">
        <p>Для статистического сравнения экспериментальных групп между собой в заданный момент времени использовался непараметрический тест Уилкоксона для несвязных выборок (критерий Манна-Уитни, величина p-value) с коррекцией на множественные сравнения по методу Бенжамини-Хохберга (Benjamini-Hochberg, величина p-value_adj).</p>
        <p>Для статистического сравнения экспериментальных групп между собой в разные моменты времени использовался непараметрический тест Уилкоксона для связных выборок (приведена величина p-value)  с коррекцией на множественные сравнения по методу Бенжамини-Хохберга (величина p-value_adj). </p>
        <p>В таблице приведены также тип использованного критерия (Wilcoxon_paired и Wilcoxon_unpaired обозначающие критерии для связных и несвязных выборок соответственно), а также поле "significance" (статзначимость), принимающее значение "True" (значимо) или "False" (незначимо) отличие в выборках для уровня значимости 0.05 в условиях множественного сравнения.</p>
    </div>
{% endblock %}