{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "bootstrap/utils.html" import flashed_messages %}
{% from "macroses.html" import metrika %}

{% block navbar %}
    {{ nav.top_nav.render(renderer='myrenderer') }}
{% endblock %}

{% block content %}
    <div class="container">
        {% if title is defined and title %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ title }}
                        {% if subtitle is defined and subtitle %}
                            <small>{{ subtitle }}</small>
                        {% endif %}
                    </h1>
                    {% if crumb is defined and crumb %}
                        <ol class="breadcrumb">
                            <li><a href="{{ crumb.url }}">{{ crumb.parent }}</a></li>
                            <li class="active">{{ crumb.title }}</li>
                        </ol>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="row">
                    <div class="col-md-12">
                        {{ flashed_messages(messages=messages, container=False) }}
                    </div>
                </div>
            {% endif %}
        {% endwith %}

        {% block page %}{% endblock %}

        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; {{ laboratory }} {{ year().strftime("%Y") }}</p>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}

{% block styles %}
    {{super()}}
    <link href="{{ url_for('static', filename='css/bootstrap-custom.css') }}" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
    {{super()}}
    {{ yandex and metrika(yandex) or '' }}
{% endblock scripts %}

{% block head %}
    {{super()}}
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}
